@import "./custom_colors";

nav.navbar {
    height: 100px;


        img {
            width: 80%;
            height: auto;
            margin-top:15px;
            justify-content: center;
        }
}

